body{
    background-color: lightskyblue;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 12px 12px;
}
p{
    color: white;
    text-align: center;
    font-size: 30px;
}
img{
    width: 500px;
    height: 400px;
}