ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
body{
    background-color: beige;
}
img{
    width: 400px;
    height: 400px;
}
.container{
    display: flex;
    padding: 20px 20px;

}
h1{
    text-align: center;
}